<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Title -->
  <title>Restuarent</title>
  <!-- External CSS -->
  <link rel="stylesheet" href="home_styles.css">
  <!-- Favicon -->
  <link rel="icon" href="/cooking.png" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body background="/2004536.jpg"> <!-- Background image -->
  <!-- Navigation bar -->
  <nav class="navbar">
    <img src="/cooking.png" alt="Logo"> <!-- Logo -->
    <ul>
      <li><a href="/home"><i class="fas fa-home"></i> Home</a></li> <!-- Home link -->
      <li><a href="/menu"><i class="fas fa-utensils"></i> Menu</a></li> <!-- Menu link -->
    </ul>
  </nav>

  <!-- Heading and icon -->
  <h1>Best Food <i class="fas fa-utensils"></i><br></i> for your taste...</h1>
  <!-- Paragraph -->
  <p></p>
</body>
</html>
